html {margin:0; padding:0;}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	background-color: #F0E68C;
}

p {
	font-size: 16px;
}

input {
	font-size: 16px;
}

select {
	font-size: 16px;
}

textarea {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

.textblue {
	color: blue;
}

.textdisabled {
	background-color: lightgray;
}
.form-wrapper {
    margin-left:  10px;
}

#logo {
	position: absolute;
	top:0px;
	left:0px;
	width: 800px;
	z-index: 10;
}

#logo img {
	display: block;
	max-width: 100%;
	height: auto;
}

main {
	margin-top: 10px;
}

header {
	margin-top: 150px;
}